// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.date {
  background-color: #666666;
  color: #660033;
}
.fa-fw {
  color: #777777;
}

.index-title {
  display: inline;
}

input.form-control.input-sm {
  border-right-color: #fff;
  border-right-width: 0px;
  box-shadow: none;
}
span.input-group-addon.submit {
  border-left-width: 0px;
  background-color: #fff;
}
input.form-control.input-sm:focus {
  border-color: #ccc;
  box-shadow: none;
}

.alert-message {
  text-align: center;
  margin-top: 40%;
  color: #ccc;
}

.sub-title {
  margin-bottom: 25px;
}
span.split {
  margin-left: 20px;
}
span.tags {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px 7px;
  background: #888;
  color: #fff !important;
  border-radius: 5px;
  // background: #666666;
  // border-radius: 5px;
  // padding-right: 5px;
  // padding-left: 5px;
  // padding-top: 3px;
  // padding-bottom: 3px;
  // color: wheat;
}
