// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.date{
  background-color : #666666;
  color : #660033
}

.index-title{
display:inline;
}
