<footer class="author">
  <div class="blank"></div>
  <hr>
  <span class="text-muted">梦里不知身是客 <i class="fa fa-heart"></i><a href="http://www.cnblogs.com/cmmdc/" target="_blank" class="girl-friend text-muted"> 一晌贪欢</a></span>
</footer>
