<footer class="author">
  <!-- <hr> -->
  <div class="footer">
    <span class="text-muted" title="dccmmtop@gmail.com">梦里不知身是客</span> 
    <i class="fa fa-heart love"></i>
    <a href="http://www.cnblogs.com/cmmdc/" target="_blank" class="girl-friend text-muted"> 一晌贪欢</a>
    </br>
    <span><%= (Date.today - Date.parse('2016-4-4')).to_i %></span>
  </div>
</footer>
