<div class="pull-right search">
  <%= search_form_for @q,url: topics_path,html:{class: 'form-inline'} do |f| %>
    <%= f.search_field :title_or_body_or_tags_cont ,class: 'form-control'%>
    <%= f.submit :class => "btn btn-success" %>
  <% end %>
</div>
