<%= form_tag("/topics/search",method:'get') do  %>
  <div class="input-group">
    <input type="search" class="form-control input-sm" placeholder="search..." name="search"><span class="input-group-addon  submit"><i class="fa fa-search"></i></span>
  </div>
<% end %>
